<article class="post">
  <div class="content">  
    <p>Lorem est tota propiore conpellat pectoribus de pectora summo.</p>
    <p>Redit teque digerit hominumque toris verebor lumina non cervice subde tollit usus habet Arctonque, furores quas nec ferunt. Quoque montibus nunc caluere tempus inhospita parcite confusaque translucet patri vestro qui optatis lumine cognoscere flos nubis! Fronde ipsamque patulos Dryopen deorum.</p>

    <ol>
      <li>Exierant elisi ambit vivere dedere</li>
      <li>Duce pollice</li>
      <li>Eris modo</li>
      <li>Spargitque ferrea quos palude</li>
    </ol>

    <h1 id="vagus-elidunt">Vagus elidunt</h1>
    <p><a href="#">The Van de Graaf Canon</a></p>
    <h2 id="mane-refeci-capiebant-unda-mulcebat">Mane refeci capiebant unda mulcebat</h2>

    <p>Eurytus Hector, materna ipsumque ut Politen, nec, nate, ignari, vernum cohaesit sequitur. Vel <strong>mitis temploque</strong> vocatus, inque alis, <em>oculos nomen</em> non silvis corpore coniunx ne displicet illa. Crescunt non unus, vidit visa quantum inmiti flumina mortis facto sic: undique a alios vincula sunt iactata abdita! Suspenderat ego fuit tendit: luna, ante urbem Propoetides <strong>parte</strong>.</p>

      
    <h2 id="blockquotes">Blockquotes</h2>
    <p>The blockquote element represents content that is quoted from another source</p>
    <h4 id="blockquote-without-attribution">Blockquote without attribution</h4>

    <blockquote>
      <p>Tiam, ad mint andaepu dandae nostion secatur sequo quae.
      <strong>Note</strong> that you can use <em>Markdown syntax</em> within a blockquote.</p>
    </blockquote>

    <h4 id="blockquote-with-attribution">Blockquote with attribution</h4>

    <blockquote>
      <p>Don&rsquo;t communicate by sharing memory, share memory by communicating.
      — Rob Pike<sup id="fnref:1"><a href="#fn:1" class="footnote-ref" role="doc-noteref">1</a></sup></p>
    </blockquote>
  </div>
</article>
