<article class="post">
  <div class="content">  
    <p>Lorem est tota propiore conpellat pectoribus de pectora summo.</p>
    <p>Redit teque digerit hominumque toris verebor lumina non cervice subde tollit usus habet Arctonque, furores quas nec ferunt. Quoque montibus nunc caluere tempus inhospita parcite confusaque translucet patri vestro qui optatis lumine cognoscere flos nubis! Fronde ipsamque patulos Dryopen deorum.</p>

    <ol>
      <li>Exierant elisi ambit vivere dedere</li>
      <li>Duce pollice</li>
      <li>Eris modo</li>
      <li>Spargitque ferrea quos palude</li>
    </ol>

    <h1 id="vagus-elidunt">Vagus elidunt</h1>
    <p><a href="#">The Van de Graaf Canon</a></p>
    <h2 id="mane-refeci-capiebant-unda-mulcebat">Mane refeci capiebant unda mulcebat</h2>

    <p>Eurytus Hector, materna ipsumque ut Politen, nec, nate, ignari, vernum cohaesit sequitur. Vel <strong>mitis temploque</strong> vocatus, inque alis, <em>oculos nomen</em> non silvis corpore coniunx ne displicet illa. Crescunt non unus, vidit visa quantum inmiti flumina mortis facto sic: undique a alios vincula sunt iactata abdita! Suspenderat ego fuit tendit: luna, ante urbem Propoetides <strong>parte</strong>.</p>

      
    <h2 id="blockquotes">Blockquotes</h2>
    <p>The blockquote element represents content that is quoted from another source</p>
    <h4 id="blockquote-without-attribution">Blockquote without attribution</h4>

    <blockquote>
      <p>Tiam, ad mint andaepu dandae nostion secatur sequo quae.
      <strong>Note</strong> that you can use <em>Markdown syntax</em> within a blockquote.</p>
    </blockquote>

    <h4 id="blockquote-with-attribution">Blockquote with attribution</h4>

    <blockquote>
      <p>Don&rsquo;t communicate by sharing memory, share memory by communicating.
      — Rob Pike<sup id="fnref:1"><a href="#fn:1" class="footnote-ref" role="doc-noteref">1</a></sup></p>
    </blockquote>
  </div>
</article>


 <%# <article class="post">
  <div class="content">
    <div id="tag-cloud">
      <div class="tag-cloud-tags">
        <a style="font-size: 2.942857142857143rem;" href="tags/css/index.html">css</a>
        
        <a style="font-size: 2.942857142857143rem;" href="tags/emoji/index.html">emoji</a>
        
        <a style="font-size: 2.942857142857143rem;" href="tags/html/index.html">html</a>
        
        <a style="font-size: 2.942857142857143rem;" href="tags/index/index.html">index</a>
        
        <a style="font-size: 5.085714285714285rem;" href="tags/markdown/index.html">markdown</a>
        
        <a style="font-size: 2.942857142857143rem;" href="tags/privacy/index.html">privacy</a>
        
        <a style="font-size: 2.942857142857143rem;" href="tags/shortcodes/index.html">shortcodes</a>
        
        <a style="font-size: 2.942857142857143rem;" href="tags/text/index.html">text</a>
      </div>
    </div>
  </div>
</article> %>


<%# <article class="post">
  <div class="content" itemprop="articleBody">
    <p>Hugo ships with several <a href="#">Built-in Shortcodes</a> for rich content and a set of Simple Shortcodes that enable static and no-JS versions of various social media embeds.</p>
    <hr>
    <h2 id="instagram-simple-shortcode">Instagram Simple Shortcode</h2>
    <style type="text/css">
      .__h_instagram.card {
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
          font-size: 14px;
          border: 1px solid rgb(219, 219, 219);
          padding: 0;
        margin-top: 30px;
      }
      .__h_instagram.card .card-header, .__h_instagram.card .card-body {
          padding: 10px 10px 10px;
      }
      .__h_instagram.card img {
          width: 100%;
          height: auto;
      }
    </style>

    <div class="__h_instagram s_instagram_simple card" style="max-width: 640px">
      <div class="card-header">
        <a href="https://www.instagram.com/koloot.design" class="card-link">koloot.design</a>
      </div>
      <a href="https://instagram.com/p/BGvuInzyFAe/" rel="noopener" target="_blank"><img class="card-img-top img-fluid" src="https://scontent-ort2-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/13437259_1631155187211476_646101738_n.jpg?_nc_ht=scontent-ort2-2.cdninstagram.com&amp;_nc_cat=108&amp;_nc_ohc=FRIiWBLbzB0AX-KP1MA&amp;oh=842c8c5c3d5444d77f3790b19c2a371f&amp;oe=5FA6A80F" width="640"  height="451" alt="Instagram Image"></a>
      <div class="card-body">	
        <a href="https://www.instagram.com/koloot.design" class="card-link">View More on Instagram</a>
      </div>
    </div>

    <hr>
    <h2 id="youtube-privacy-enhanced-shortcode">YouTube Privacy Enhanced Shortcode</h2>
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
      <iframe src="https://www.youtube.com/watch?v=kaFZh7p_nLc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
    </div>
  </div>
</article> %>


<%# <div id="archive">
  <ul class="post-list">
    <h2>2019</h2>
    <li class="post-item">
      <div class="meta">
        <time datetime="2019-03-11 00:00:00 &#43;0000 UTC" itemprop="datePublished">2019-03-11</time>
      </div>
      <span>    
        <a class="" href="../../post/markdown-syntax/index.html"> Markdown Syntax Guide </a>
      </span>
    </li>
    <li class="post-item">
      <div class="meta">
        <time datetime="2019-03-09 00:00:00 &#43;0000 UTC" itemprop="datePublished">2019-03-09</time>
      </div>
      <span>    
        <a class="" href="../../post/placeholder-text/index.html"> Placeholder Text </a>
      </span>
    </li>
  </ul>
</div> %>
