<footer id="footer">
  <div class="footer-left">
    Copyright  &copy; 2020  Kusege 
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Writings', root_path %></li>
        <li><%= link_to 'Tags', root_path %></li>
        <li><%= link_to 'About', root_path %></li>
      </ul>
    </nav>
  </div>
</footer>
