<header id="header">
  <a href="/">
    <div id="header__logo"></div>
    <div id="header__title">
      <h1>Kusege Developer</h1>
    </div>
  </a>
  <div id="nav">
    <ul id="nav__content">
      <li class="nav__icon">
        <i class="fas fa-bars fa-2x"></i>
      </li>     
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Writings', root_path %></li>
      <li><%= link_to 'Tags', root_path %></li>
      <li><%= link_to 'About', root_path %></li>
    </ul>
  </div>
</header>
